/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$yellow: #F8C832;
$charcoal: #222;
$dark-red: #DB332E;
$red: #AF3922;
$light-black: #1B2229;
$blue: #6285A6;