/* =============
    Section-3
============= */
.section {
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    background: $light-black;
    border-radius: 80px;
    max-width: 850px;
    
  }
  
  .container {
    display: grid;
    grid-gap: 30px;
  }
  
  .container.left {
    grid-template-columns: 1fr 2fr;
    padding-left: 50px;
  }
  .container.top {
      text-align: center;
  }
  
  .container.right {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: right;
  }
h1 {
    font-family: IM FELL DW Pica;
    font-size: rem-calc(60);

    color: $blue;
}
.container.text {
  font-family: Oxygen;
  font-size: rem-calc(18);
  line-height: rem-calc(26);
  text-align: center;
  padding-right: 50px;
  color: $white;
}