/* =============
    Footer
============= */
footer {
    background-color: $black;
    display: grid;
    padding: 0px 0 0px;
    #footer-logo {
        padding-left: 30px;
        margin-top: 10px;
    }
    >div {
        grid-area: footer;
        ul {
            display: flex;
            list-style: none;
            margin-left: 1150px;
            margin-top: 90px;
            img { width: 85%; height: auto; }
            li {
                margin: 0 10px;
                color: $white;
                a:link,
                a:visited {
                    color: $white;
                    font-size: rem-calc(30);
                    transition: 0.25s;
                }
                a:hover,
                a:active {
                    color: $white;
                }
            }
        }
    }
}